[Desktop Entry]
Encoding=UTF-8
Name=Link to budweiser
Type=Link
URL=https://previews.123rf.com/images/denismart/denismart1804/denismart180400123/105184199-london-uk-april-27-2018-glass-bottle-of-budweiser-beer-on-wooden-background-with-label-an-american-l.jpg
Icon=image-jpeg
