[Desktop Entry]
Encoding=UTF-8
Name=Link to kingfisher
Type=Link
URL=https://www.kingfisherworld.com/sites/default/files/Premium_0_0.jpg
Icon=image-jpeg
