[Desktop Entry]
Encoding=UTF-8
Name=Link to Tuborg
Type=Link
URL=https://res.cloudinary.com/ratebeer/image/upload/e_trim:1/d_beer_img_default.png,f_auto/beer_74599
Icon=image-jpeg
